## Функция pivot_table

In [10]:
import pandas as pd
from IPython.display import display

fb = pd.read_csv('X:/10-GitProject/skill-dev/file/data_sf.csv')

pivot = fb.loc[fb.Club.isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
            index=['Nationality'],columns=['Club'],aggfunc='sum',margins=True)

display(pivot)

                           Wage                                           \
Club               FC Barcelona   Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0   205000.0          206000.0         NaN
Belgium                110000.0        NaN          230000.0    240000.0
Bosnia Herzegovina          NaN   180000.0               NaN         NaN
Brazil                 465000.0   335000.0           91000.0    570000.0
Chile                  205000.0        NaN          215000.0         NaN
Costa Rica                  NaN        NaN               NaN    195000.0
Croatia                260000.0   160000.0               NaN    420000.0
Dominican Republic          NaN        NaN               NaN    140000.0
Ecuador                     NaN        NaN          120000.0         NaN
England                     NaN        NaN          478000.0         NaN
France                 495000.0   145000.0          375000.0    459000.0
Germany                240000.0   160000.0               NaN    355000.0
Italy                       NaN   460000.0           88000.0         NaN
Ivory Coast                 NaN        NaN          105000.0         NaN
Morocco                     NaN   160000.0               NaN         NaN
Netherlands            135000.0        NaN               NaN         NaN
Poland                      NaN   125000.0               NaN         NaN
Portugal               125000.0   405000.0               NaN         NaN
Scotland                    NaN        NaN           11000.0         NaN
Serbia                      NaN        NaN          165000.0         NaN
Spain                  912000.0        NaN          260000.0   1404000.0
Uruguay                455000.0        NaN               NaN         NaN
Wales                       NaN        NaN           13000.0    355000.0
All                   3967000.0  2335000.0         2357000.0   4138000.0


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

### Задание 1

In [7]:
fb_1 = fb.pivot_table(columns='Position',index='Club',values='Wage',aggfunc='max')
display(fb_1.loc['Manchester City']['GK'])

125000.0

In [8]:
display(pivot.loc['Belgium'])

      Club
Wage  FC Barcelona         110000.0
      Juventus                  NaN
      Manchester United    230000.0
      Real Madrid          240000.0
      All                  580000.0
Name: Belgium, dtype: float64

In [14]:
pivot = fb.loc[fb.Club.isin(['FC Barselona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
            index=['Nationality'],columns=['Club'],aggfunc='sum',margins=True,fill_value='---')
display(pivot)

                        Wage
Club                Juventus Manchester United Real Madrid      All
Nationality
Argentina           205000.0          206000.0         ---   411000
Belgium                  ---          230000.0    240000.0   470000
Bosnia Herzegovina  180000.0               ---         ---   180000
Brazil              335000.0           91000.0    570000.0   996000
Chile                    ---          215000.0         ---   215000
Costa Rica               ---               ---    195000.0   195000
Croatia             160000.0               ---    420000.0   580000
Dominican Republic       ---               ---    140000.0   140000
Ecuador                  ---          120000.0         ---   120000
England                  ---          478000.0         ---   478000
France              145000.0          375000.0    459000.0   979000
Germany             160000.0               ---    355000.0   515000
Italy               460000.0           88000.0         ---   548000
Ivory Coast              ---          105000.0         ---   105000
Morocco             160000.0               ---         ---   160000
Poland              125000.0               ---         ---   125000
Portugal            405000.0               ---         ---   405000
Scotland                 ---           11000.0         ---    11000
Serbia                   ---          165000.0         ---   165000
Spain                    ---          260000.0   1404000.0  1664000
Wales                    ---           13000.0    355000.0   368000
All                  2335000           2357000     4138000  8830000

In [26]:
pivot = fb.loc[fb.Club.isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
            index=['Nationality'],columns=['Club'],aggfunc='count',fill_value=0,margins=True)
display(pivot)

                           Name
Club               FC Barcelona Juventus Manchester United Real Madrid All
Nationality
Argentina                     1        1                 2           0   4
Belgium                       1        0                 1           1   3
Bosnia Herzegovina            0        1                 0           0   1
Brazil                        2        2                 1           2   7
Chile                         1        0                 1           0   2
Costa Rica                    0        0                 0           1   1
Croatia                       1        1                 0           1   3
Dominican Republic            0        0                 0           1   1
Ecuador                       0        0                 1           0   1
England                       0        0                 6           0   6
France                        3        1                 2           3   9
Germany                       1        1                 0           1   3
Italy                         0        4                 1           0   5
Ivory Coast                   0        0                 1           0   1
Morocco                       0        1                 0           0   1
Netherlands                   1        0                 0           0   1
Poland                        0        1                 0           0   1
Portugal                      1        1                 0           0   2
Scotland                      0        0                 1           0   1
Serbia                        0        0                 1           0   1
Spain                         9        0                 1          11  21
Uruguay                       1        0                 0           0   1
Wales                         0        0                 1           1   2
All                          22       14                20          22  78

In [28]:
pivot.loc['Argentina']['Name']['Manchester United']

2

## Задание 1

In [51]:
taskPivot = fb.loc[fb.Club.isin(fb.Club)].pivot_table(values=['Name'],
                                                      index=['Position'],
                                                      columns=['Club'],
                                                      aggfunc='count',
                                                      fill_value=0)
#display(taskPivot)

display('''Среднее количество вратарей по всем клубам''',round(taskPivot.loc['GK'].mean(),3))

'Среднее количество вратарей по всем клубам'

2.525

## Задание 2

In [50]:
display(taskPivot.loc['CM'].value_counts())

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

# Задача 1

In [55]:
rusFb = fb.loc[fb.Club.isin(['AS Monaco'])].pivot_table(values=['Wage'],
                                                       index=['Nationality'],
                                                       columns=['Club'],
                                                       aggfunc='sum',
                                                       fill_value='---')
display(rusFb)
display('''Сколько получают русские футболисты играющие за ФК "AS Monaco"\n''',
       rusFb.loc['Russia'])

                 Wage
Club        AS Monaco
Nationality
Belgium         47000
Brazil          55000
Colombia       115000
Croatia         70000
France          95000
Italy           48000
Montenegro      79000
Morocco         39000
Poland          86000
Portugal        65000
Russia          61000
Senegal         10000

'Сколько получают русские футболисты играющие за ФК "AS Monaco"\n'

      Club
Wage  AS Monaco    61000
Name: Russia, dtype: int64

# Задача 2
### Создайте сводную таблицу, содержащую сведения о средней скорости футболистов, занимающих разные позиции в разных футбольных клубов

In [103]:
taskP2 = fb.loc[fb.Club.isin(fb.Club)].pivot_table(values=['SprintSpeed'],
                                                  index=['Position'],
                                                  columns=['Club'],
                                                  aggfunc='mean',
                                                  fill_value=0)
display(taskP2.loc['ST']['SprintSpeed'].sort_values(ascending=False))
display(taskP2.loc['ST']['SprintSpeed']['Sydney FC'])
display(taskP2.loc['ST']['SprintSpeed']['CD Lugo'])
display(taskP2.loc['ST']['SprintSpeed']['Arsenal'])
display(taskP2.loc['ST']['SprintSpeed']['Toronto FC'])
display(taskP2.loc['ST']['SprintSpeed']['Girona FC'])
display(taskP2.loc['ST']['SprintSpeed']['Melbourne Victory'])
display(taskP2.loc['ST']['SprintSpeed']['Vitória'])
display(taskP2.loc['ST']['SprintSpeed'][fb.Club.isin(['Sydney FC','CD Lugo','Arsenal','Toronto FC','Girona FC','Melbourne Victory','Vitória'])])

Club
Vitória                  91.000000
Sydney FC                88.000000
CD Lugo                  87.000000
Brøndby IF               84.666667
Leicester City           84.500000
                           ...
Stade Rennais FC          0.000000
Fenerbahçe SK             0.000000
GD Chaves                 0.000000
Sporting de Charleroi     0.000000
FC Barcelona              0.000000
Name: ST, Length: 650, dtype: float64

88.0

87.0

83.0

81.75

0.0

81.0

91.0

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).