<h1>10.2 Графические возможности Pandas</h1>

<p>Обзор датасета</p>

In [10]:
import pandas as pd

df = pd.read_csv('./data/tips.csv',header=0)
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

<h2>Задание 1</h2>
<p>Сколько строк содержится в датафрейме без учета заголовка</p>

In [12]:
df.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

<h2>Задание 2</h2>
<p>Напишите максимальную сумму счета в датафрейме</p>

In [15]:
df[df.total_bill == df.total_bill.max()].total_bill.values[0]

50.81